<h1>Eat-Da-Burger</h1>
<!-- Pass in data from server.js -->
<ul>
    {{#each burgers}}
    <li>
        <p><span class="label">ID:</span> {{this.id}}</p>
        <p><span class="label">Burger:</span> {{this.burger_name}}</p>


        <button data-id="{{this.id}}" class="deleteburger">Devour!</button>

        <a href="/{{this.id}}">Update this quote</a>
    </li>
    {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-form">

    <div class="form-group">
        <label for="auth">Burger:</label>
        <input type="text" id="burger" name="burger">
    </div>

    <button type="submit">Add Burger</button>
</form>